<h1 id="heading">{{collection.title}}</h1>
<h2 id="subheading">onAir Collection</h2>

<!-- <div id="elements">
  <div class="card" style="width: 18rem;" *ngFor="let y of NS" [routerLink]="['/ads-with-crew',y.title]">
    <img src="{{y.image}}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text" id="title">{{y.title}}</p>
      <p class="text-muted">{{y.date}}</p>
    </div> 
  </div>
</div>

<div id="elements">
  <div class="card" style="width: 18rem;" *ngFor="let y of NS | slice: 0:3"
    [routerLink]="['/ads-with-crew',y.title]">
    <img src="{{y.image}}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text" id="title">{{y.title}}</p>
      <p class="text-muted">{{y.date}}</p>
    </div>
  </div>
</div> -->




<div class="container">
  <div class="row">
    <div class="col-lg-8">

      <div id="elements">
        <div class="card" style="width: 18rem;" *ngFor="let y of NS | slice: 0:3" [routerLink]="['/ads-with-crew',y.title]">
          <img src="{{y.image}}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text" id="title">{{y.title}}</p>
            <p class="text-muted">{{y.date}}</p>
          </div> 
        </div>
      </div>

      <!-- <div id="elements">
        <div class="card" style="width: 18rem;" *ngFor="let y of NS | slice: 0:3"
          [routerLink]="['/ads-with-crew',y.title]">
          <img src="{{y.image}}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text" id="title">{{y.title}}</p>
            <p class="text-muted">{{y.date}}</p>
          </div>
        </div>
      </div> -->

    </div>

    <div class="col-lg-4">
      
      <div id="famous">
        <h2>Some Famous Collections</h2>
        <div id="famouscollections" class="card mb-3" style="max-width: 540px;" *ngFor="let x of COLLECTIONS">
          <div class="row g-0">
            <div class="col-4">
              <img id="thumbnails" src="{{x.image}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-8">
              <div class="card-body">
                <h5 id="title" class="card-title">{{x.title}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>



    <div class="d-grid gap-2 col-6 mx-auto">
      <button id="Viewbtn" class="btn" type="button" routerLink="/allcollections">View All Collections</button>

    </div>




    <div id="formsubmit">
      <h3>Worked On an Ad Film?</h3>
      <button class="btn " data-bs-toggle="modal" data-bs-target="#exampleModal">Send it to us</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <app-submit></app-submit>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>