<div class="container">

  <div class="row">

    <div class="col-lg-8">

      <h1 id="heading">{{collection.title}}</h1>
      <h2 id="subheading">onAir Collection</h2>

      <!-- Elements of the particular collection -->

      <div id="elements">
        <div class="card" style="width: 18rem;" *ngFor="let y of NS " [routerLink]="['/ads-with-crew',y.title]">
          <img src="{{y.image}}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text" id="title">{{y.title}}</p>
            <p class="text-muted" id="date">{{y.date}}</p>
          </div>
        </div>
      </div>

      <!-- <div id="elements">
        <div class="card" style="width: 18rem;" *ngFor="let y of NS | slice: 0:1"
          [routerLink]="['/ads-with-crew',y.title]">
          <img src="{{y.image}}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text" id="title">{{y.title}}</p>
            <p class="text-muted">{{y.date}}</p>
          </div>
        </div>
      </div> -->

    </div>

    <div class="col-lg-4">

      <!-- Famous collections scroller -->

      <div id="famous">
        <h2>Some Famous Collections</h2>
        <div id="famouscollections" class="card mb-3" style="max-width: 540px;" *ngFor="let x of COLLECTIONS">
          <div class="row g-0">
            <div class="col-4">
              <img id="thumbnails" src="{{x.image}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-8">
              <div class="card-body">
                <h5 id="title" class="card-title">{{x.title}}</h5>
              </div>
            </div>
          </div>
        </div>
        
      </div>
        <div class="text-center">
          <button id="Viewbtn" class="btn" type="button" routerLink="/allcollections"><span>View All Collections</span></button>
        </div>
       
  
  
    </div>
    </div>
    
    


    
    </div>
      <div class="text-center">

        <div id="formsubmit" >
          <h3>Worked On an Ad Film?</h3>
          <button class="btn " routerLink="/submit"><span>Send it to us</span></button>
        </div>
      
      </div>
    
     