h1{
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    color: #ddccb8;
    font-weight: 501;
}
h2{
    text-align: center;
    margin-bottom: 110px;
}

#formsubmit h3{
    color: #666666;

}
#formsubmit{
    margin-left: 10px;
    margin-bottom: 20px;
}
#formsubmit button{
    background-color:#ddccb8;
    color: #666666;
    font-weight: 501;
}
#Viewbtn{
    background-color: #ddccb8;
    margin: 50px;
    color: #666666;
    font-weight: 501;
    border-radius: 15px;
}
@media only screen and (max-width: 500px) {
    #heading{
        font-size: 38px;
    }
    #Viewbtn{
        margin: 0px;
        margin-bottom: 30px;
    }
    #formsubmit h3{
        font-size: 18px;
    }
}
