#heading{
    text-align: center;
    color: #ddccb8 !important;
    font-size: 43px;
    margin-top: 81px;
    margin-bottom: 20px;
    font-weight: 601;
}
#trending{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding:  0px 120px ; */
}
#trending img{
    height: 160px;
    border-radius: 5px;
}
.card{
   
    border-radius: 5px;
    margin: 0px 12px;
    margin-bottom: 20px;
}
#Viewbtn{
    background-color: #ddccb8;
    margin: 50px;
    margin-top: 20px;
    width: 250px;
    color: #666666;
    font-weight: 501;
    border-radius: 5px;
}
.card h4{
    
    margin: 10px;
    text-align: center;
    /* color: #666666; */
}
#VCbtn{
    background-color:#283444 ; 
    color: #ddccb8 !important;
    margin: 30px;
    font-weight: 501;
}
.card:hover{
    background-color: #283444;
    color: #ddccb8;
}
@media only screen and (max-width: 500px) {
    #trending{
        padding: 0px !important;
    }
    .card h4{
        font-size: 18px;
        margin: 5px;
        text-align: center;
        /* color: #666666; */
    }
    #heading{
        font-size: 25px;
        margin-top: 70px;
        margin-bottom: 20px;
    }
    #Viewbtn{
        margin: 0px;
        margin-bottom: 30px;
        width: 200px;
        font-size: 16px !important;
    }
}


 #Viewbtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #Viewbtn span:after {
    content: '>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  #Viewbtn:hover{
    background-color: rgb(245, 245, 245);
    color: #666666;
  }
  
  #Viewbtn:hover span {
    padding-right: 18px;
  }
  
  #Viewbtn:hover span:after {
    opacity: 1;
    right: 0;
  }