<div id="trendingcollection">
  <h2 id="heading">Trending Collections</h2>
  <div id="trending">
    <div class="card" style="width: 18rem;" *ngFor="let x of TC" [routerLink]="['/collections', x.title]">
      <img src="{{x.image}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">{{x.title}}</h4>
       
      </div>
    </div>
  </div>
</div>

<div class="d-grid gap-2 col-6 mx-auto">
  <div class="text-center">

    <button id="Viewbtn" class="btn" type="button" routerLink="/allcollections"><span>View All Collections</span></button>
  </div>

</div>



