#heading{
    text-align: center;
    color: #ddccb8 !important;
    font-size: 43px;
    margin-top: 81px;
    margin-bottom: 20px;
    font-weight: 601;
}
#trending{
    display: flex;
    flex-wrap: wrap;
    padding:  0px 120px ;
}
#trending img{
    height: 160px;
    border-radius: 5px;
}
.card{
   
    border-radius: 5px;
    margin: 0px auto;
    margin-bottom: 20px;
}
#Viewbtn{
    background-color: #ddccb8;
    margin: 50px;
    margin-top: 20px;
    width: 300px;
    color: #666666;
    font-weight: 501;
    border-radius: 5px;
}
.card h4{
    
    margin: 10px;
    text-align: center;
    /* color: #666666; */
}
#VCbtn{
    background-color:#283444 ; 
    color: #ddccb8 !important;
    margin: 30px;
    font-weight: 501;
}
.card:hover{
    background-color: #283444;
    color: #ddccb8;
}
@media only screen and (max-width: 500px) {
    #trending{
        padding: 0px !important;
    }
    .card h4{
        font-size: 18px;
        margin: 5px;
        text-align: center;
        /* color: #666666; */
    }
    #heading{
        font-size: 25px;
        margin-top: 70px;
        margin-bottom: 20px;
    }
    #Viewbtn{
        margin: 0px;
        margin-bottom: 30px;
        width: 200px;
    }
}
