<div id="trendingcollection">
  <h2 id="heading">Trending Collections</h2>
  <div id="trending">
    <div class="card" style="width: 18rem;" *ngFor="let x of TC" [routerLink]="['/collections', x.title]">
      <img src="{{x.image}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">{{x.title}}</h4>
        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p> -->
        <!-- <div class="text-center">

          <a id="VCbtn" href="#" class="btn" >View Collection</a>
        </div> -->
      </div>
    </div>
  </div>
</div>

<div class="d-grid gap-2 col-6 mx-auto">
  <div class="text-center">

    <button id="Viewbtn" class="btn" type="button" routerLink="/allcollections">View All Collections</button>
  </div>

</div>

