<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer>
    <div class="container">
        <div class="row">
            <div class="col" id="explore">
                <h3><strong>Explore IcrewedUP</strong></h3>
                <p><strong></strong></p>
                <p><a href="https://icrewedup.com/film-industry-jobs/">Jobs</a></p>
                <p><a href="https://onair.icrewedup.com/">onAir</a></p>
                <p><a href="https://icrewedup.com/benefits/">Benefits</a></p>
                <p><a href="https://icrewedup.com/faqs/">FAQs</a></p>

                <div>
                    <p id="looking">Looking for Crew? Post your requirement on IcrewedUP.</p>
                </div>
                <button type="button" class="btn "><a id="post" href="https://icrewedup.com/post-a-job/"><span>Post a requirement</span></a></button>

            </div>
            <div class="col" id="contact">
                <h3><strong>Get in Touch</strong></h3>
                <p><strong></strong></p>
                <p><a href="https://icrewedup.com/contact-us/">Contact Us</a></p>
                <p><a href="https://icrewedup.com/about-us/">About Us</a></p>
                <p><a href="https://icrewedup.com/privacy-policy/">Privacy Policy</a></p>
                <p><a href="https://icrewedup.com/tc/">Terms &amp; Conditions</a></p>
                <!-- <div>
                    <span id="follow" style="font-size: 24px;">Follow Us Now</span><br>
                    <a href="https://www.facebook.com/IcrewedUp" class="icon et_pb_with_border" title="Follow on Facebook" target="_blank"><span class="et_pb_social_media_follow_network_name" aria-hidden="true"> <i class="fa fa-facebook-square" style="font-size:24px; 
                        margin: 15px; margin-right: 20px;"></i></span></a>
                    <a href="https://www.instagram.com/icrewedup/" class="icon et_pb_with_border" title="Follow on Instagram" target="_blank"><span class="et_pb_social_media_follow_network_name" aria-hidden="true"> <i class="fa fa-instagram" style="font-size:24px"></i></span></a>
                   
                </div> -->
                <div> 
                    <span id="follow" style="font-size: 24px;">Follow Us Now</span><br>
                    <a href="https://www.facebook.com/IcrewedUp" class="icon et_pb_with_border" title="Follow on Facebook" target="_blank"><span class="et_pb_social_media_follow_network_name" aria-hidden="true"> <i class="fa fa-facebook-square" style="font-size:24px; 
                        margin-right: 20px;"></i></span></a>
                    <a href="https://www.instagram.com/icrewedup/" class="icon et_pb_with_border" title="Follow on Instagram" target="_blank"><span class="et_pb_social_media_follow_network_name" aria-hidden="true"> <i class="fa fa-instagram" style="font-size:24px"></i></span></a>
                   
                </div>
            </div>


            <div class="col-6" id="find">
                
                <h3 id="findheading">Find freelance filmmakers in your budget.</h3>
                
                <button id="findbtn1" type="button" class="btn">
                    <a class="et_pb_button et_pb_button_one et_pb_bg_layout_light dsm-none " href="https://icrewedup.com/post-a-job/" data-dsm-lightbox-id="dsm_button_one_lightbox dsm_button_0"><span>Post a Requirement</span></a> 
                </button>
                <button  id="findbtn2" type="button" class="btn  findbtn">
                    <a class="et_pb_button et_pb_button_two et_pb_bg_layout_light dsm-none " href="https://app.icrewedup.com/search" data-dsm-lightbox-id="dsm_button_two_lightbox dsm_button_0"><span>Search for freelancers</span></a> 
                </button>
                
            </div>
        </div>
    </div>
    
</footer>

<div id="copyright">
    
    <span>© IcrewedUp Technologies Pvt. Ltd. 2019</span>
</div>