#exclusive{
    background-color: #283444;

}
#excheading{
    text-align: center;
    font-size: 43px;
    padding: 40px;
    position: relative;
    
    color: #ddccb8 !important;
}
#title{
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 35px;
}
#info{
    color:#ddccb8 ;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 18px;
}
#excimg{
    width: 546px;
    margin: 50px;
    border-radius: 50px;
    margin-right: 0px;
    box-shadow: 10px 10px 10px #ccc;
}
#release{
    font-size: 18px ;
    margin-bottom: 50px;
    color: white ;
}

#watchadbtn{
    background-color: #ddccb8;
    color: #666666;
    font-weight: 601;
    border-radius: 5px;
}

#watchadbtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #watchadbtn span:after {
    content: '>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    
  }
  #watchadbtn:hover{
    background-color: #283444;
  }
  
  #watchadbtn:hover span {
    padding-right: 18px;
    
    
  }
  
  #watchadbtn:hover span:after {
    opacity: 1;
    right: 0;
  }



@media only screen and (max-width: 500px){
    #title{
        margin-top: 0px;
        font-size: 18px;
        margin-bottom: 20px;
    }
    #excimg{
        margin: 20px;
        height: 200px;
        width: 300px;
        box-shadow: 3px 3px 3px white;
        margin-bottom: 30px;
    }
    #excheading{
        font-size: 25px;
        margin-bottom: 20px;
        padding-bottom: 0px;
    }
    #release{
        font-size: 14px;
    }
    #info{
        font-size: 14px;
    }
}


@media only screen and (max-width: 420px) {
    iframe{
        width: 340px;
        height: 250px;    
    }
    #searchheading{
        font-size: 25px !important;
        text-align: center;
     }
     #search{
         margin-top: 50px !important;
     }
     #covered{
        text-align: center;
        font-size: 18px;
    }
    #search input{
        width: 340px !important;
        display: block;
        margin: 40px auto !important;
        font-size: 14px !important;
    }
    #searchimg{
        width: 230px !important;
        height: 230px !important;
        margin-top: 35px !important;
     }
     #submitbtn{
         display: block;
         margin: 0px auto !important;
         font-size: 18px !important;
     }
     #watchadbtn a{
         font-size: 18px !important;
     }

}
#searchheading{
    font-size: 43px;
    color: #666666;
     /* text-align: center; */
 }
 #covered{
     color: #666666;
 }
 #search{
     margin-top: 187px;
         
 }
 #searchimg{
    width: 400px;
    height: 400px;
    margin-top: 100px;
 }
 #search input{
    margin-top: 20px;
    width: 365px;
    border: 3px solid  #ddccb8;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    font-size: 20px;
 }
 #submitbtn{
    
     background-color: #283444;
     color: white;
     /* border: 3px solid  #283444; */
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 5px;
    width: 154px; 
    border-radius: 5px;
     font-size: 20px;
 }

 #submitbtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  #submitbtn:hover{
      background-color: rgb(245, 245, 245);
      color: #666666;
  }
  #submitbtn span:after {
    content: '>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  #submitbtn:hover span {
    padding-right: 18px;
  }
  
  #submitbtn:hover span:after {
    opacity: 1;
    right: 0;
  }