<div id="exclusive">
  <h2 id="excheading">onAir Exclusive</h2>
  <div class="container">
    <div class="row">
      <div class="col">
        <h3 id="title">#justdoit Nike - Dream Crazier</h3>
        <p id="info">Dream Crazier shines a spotlight on female athletes who have broken barriers, brought people
          together through their performance and inspired generations of athletes to chase after their dreams.</p>
        <div class="text-center">
          <p id="release">
            Released on: February 24, 2019
          </p>
          <button type="button" class="btn btn-outline-light" data-bs-toggle="modal"
            data-bs-target="#exclusivevideo">Watch the Ad</button>



          <!-- Modal -->
          <div class="modal fade" id="exclusivevideo" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
              <div class="modal-content">
                <!-- <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div> -->
                <div class="modal-body">

                  <div class="text-center">

                    <iframe height="480" width="750" src="https://www.youtube.com/embed/zWfX5jeF6k4/?controls=1"
                      allowfullscreen>
                    </iframe>
                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col text-center">
        <img src="/assets/images/nike dream crazier.png" alt="" id="excimg">
      </div>

    </div>
  </div>
</div>

