#exclusive{
    background-color: #283444;

}
#excheading{
    text-align: center;
    font-size: 43px;
    padding: 40px;
    position: relative;
    
    color: #ddccb8 !important;
}
#title{
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 35px;
}
#info{
    color:#ddccb8 ;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 20px;
}
#excimg{
    width: 546px;
    margin: 50px;
    border-radius: 50px;
    margin-right: 0px;
    box-shadow: 10px 10px 10px #ccc;
}
#release{
    font-size: 20px ;
    margin-bottom: 50px;
    color: white ;
}
@media only screen and (max-width: 500px){
    #title{
        margin-top: 0px;
        font-size: 30px;
    }
    #excimg{
        margin: 20px;
        height: 200px;
        width: 300px;
        box-shadow: 3px 3px 3px white;
        margin-bottom: 30px;
    }
    #excheading{
        font-size: 38px;
    }
}
.modal-body{
    background-color: black;
    padding: 0px;
}
.modal-footer{
    background-color: black;
}

@media only screen and (max-width: 420px) {
    iframe{
        width: 340px;
        height: 250px;
       
    }
}