<div id="exclusive">
    <h2 id="excheading">onAir Exclusive</h2>
    <div class="container">
        <div class="row">
          <div class="col">
           <h3 id="title">#justdoit Nike - Dream Crazier</h3>
           <p id="info">Dream Crazier shines a spotlight on female athletes who have broken barriers, brought people together through their performance and inspired generations of athletes to chase after their dreams.</p>
           <div class="text-center">
               <p id="release">
                Released on: February 24, 2019
                </p>
               <button type="button" class="btn btn-outline-light">Watch the Ad</button>
           </div>
          </div>
          <div class="col">
            <img src="/assets/images/nike dream crazier.png" alt="" id="excimg">
          </div>
          
        </div>
      </div>
</div>
