<div id="allcollectionspage">
  <h1 id="heading">onAir Collections</h1>

  <div id="allcollections" >
    <div class="card bg-dark text-white" *ngFor= "let x of TC">
      <img src="{{x.image}}" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title">{{x.title}}</h5>
        
      </div>
    </div>
    <!-- <div class="card bg-dark text-white" *ngFor= "let x of TC">
      <img src="{{x.image}}" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title">{{x.title}}</h5>
       
      </div>
    </div>
    <div class="card bg-dark text-white" *ngFor= "let x of TC">
      <img src="{{x.image}}" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title">{{x.title}}</h5>
        
      </div>
    </div> -->
  
  
  </div>
  
  
  <div id="formsubmit">
      <h3>Worked On an Ad Film?</h3>
      <button class="btn " routerLink = '/submit'>Send it to us</button>
  </div>
  
</div>


