

#allcheading{
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    color: #ddccb8;
    font-weight: 601;
    margin-bottom: 35px;
}
#formsubmit h3{
    color: #666666;
    font-size: 38px;
}
#formsubmit{
    padding: 50px;
    padding-bottom: 70px;
    background-color: #ddccb8;
    margin-top: 30px;
}
#formsubmit button{
    background-color: #283444;
    color: #ddccb8;
    font-weight: 501;
    margin-top: 19px;
    width: 180px;
    font-size: 18px;
}

#formsubmit button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #formsubmit button span:after {
    content: '>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  #formsubmit button:hover{
    background-color: #ddccb8;
    color: #666666;
  }
  
  #formsubmit button:hover span {
    padding-right: 18px;
  }
  
  #formsubmit button:hover span:after {
    opacity: 1;
    right: 0;
  }



@media only screen and (max-width: 500px) {
    #heading{
        font-size: 38px;
    }
    #formsubmit{
        padding: 25px !important;
        padding-bottom: 40px !important;
    }
    #formsubmit h3{
     font-size: 25px !important;
     }
     #formsubmit button{
         font-size: 16px !important;
     }
    #allcollections img{
        width: 250px !important;
        
    }
    #allcollections{
        margin: 20px !important;
    }
    #allcheading{
        font-size: 25px;
        margin-bottom: 20px;
    }
    #search{
        width: 235px !important;
        margin-bottom: 0px !important;
        margin-left: 4px;
    }
  
}

.card{
   
    margin: 10px auto;
    border-radius: 20px;
}
#allcollections{
    /* margin: 10px auto; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
#allcollections img{
    height: 163px;
    width: 281px;
    border-radius: 20px;
    opacity: 0.5;
}
#allcollections h5{
    font-size: 27px;
    margin-top: 80px;
}
.card:hover{
    box-shadow: 0 3px 10px #283444;

}
#search{
    width: 580px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid #283444;
    
}
#searchbtn{
    background-color: #ddccb8;
    color: #666666;
    padding: 10px;
    margin: 10px;
    margin-top: 6px;
    border-radius: 5px;
    width: 100px;
}

#searchbtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #searchbtn span:after {
    content: '>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  #searchbtn:hover{
    background-color: rgb(245, 245, 245);
    color: #666666;
  }
  
  #searchbtn:hover span {
    padding-right: 18px;
  }
  
  #searchbtn:hover span:after {
    opacity: 1;
    right: 0;
  }







/* CSS FOR TRENDING COLLECTION IS BELOW */



#heading{
    text-align: center;
    color: white !important;
    font-size: 38px;
    /* margin-top: 81px;
    margin-bottom: 20px; */
    padding: 20px;
    font-weight: 501;
}
#trendingcollection{
    background-color: #283444;
    /* margin: 10px; */
    
    margin: 50px;
    margin-top: 30px;
    border-radius: 30px;
}
#trending{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding:  0px 120px ; */
   
}
#trending img{
    height: 160px;
    border-radius: 5px;
}
.card{
    background-color: #283444; color: #ddccb8;
    border-radius: 5px;
    margin: 0px 12px;
    margin-bottom: 20px;
   
}
#Viewbtn{
    background-color: #ddccb8;
    margin: 50px;
    margin-top: 20px;
    width: 250px;
    color: #666666;
    font-weight: 501;
    border-radius: 5px;
}
.card h4{
    
    margin: 10px;
    text-align: center;
    /* color: #666666; */
}
#VCbtn{
    background-color:#283444 ; 
    color: #ddccb8 !important;
    margin: 30px;
    font-weight: 501;
}
#trendingcard:hover{
    box-shadow: 0 3px 10px #ddccb8 ;
}
@media only screen and (max-width: 500px) {
    #trending{
        padding: 0px !important;
    }
    .card h4{
        font-size: 18px;
        margin: 5px;
        text-align: center;
        /* color: #666666; */
    }
    #heading{
        font-size: 25px;
        margin: 0px !important;

    }
    #Viewbtn{
        margin: 0px;
        margin-bottom: 30px;
        width: 200px;
        font-size: 16px !important;
    }
    #trendingcollection{
        margin: 18px ;
        margin-top: 0px;
        border-radius: 10px;
        height: 407px;
        overflow-x: scroll;
    }
    #heading{
        margin-top: 20px;
    }
    /* #trending{
        flex-wrap: nowrap;
        width: 300px;
        overflow: hidden;
    }
    #trendingcard{
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        
        width: 280px !important;
        
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
    } */
}


 #Viewbtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #Viewbtn span:after {
    content: '>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  #Viewbtn:hover{
    background-color: rgb(245, 245, 245);
    color: #666666;
  }
  
  #Viewbtn:hover span {
    padding-right: 18px;
  }
  
  #Viewbtn:hover span:after {
    opacity: 1;
    right: 0;
  }








