<div id="allcollectionspage">
  <h1 id="allcheading">onAir Collections</h1>

 
  

  <div class="text-center">
    <input id="search" type="text" placeholder="Search for a Collection...">
    <button class="btn" id="searchbtn"><span>Search</span></button>
  </div> <br>
  
  
  

  <div id="trendingcollection">
    <h2 id="heading"> Some Trending Collections</h2>
    <div id="trending">
      <div class="card" id="trendingcard" style="width: 18rem;" *ngFor="let x of TC" [routerLink]="['/collections', x.title]">
        <img src="{{x.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">{{x.title}}</h4>
          
        </div>
      </div>
    </div>
  </div>
  
  <!-- <div class="d-grid gap-2 col-6 mx-auto">
    <div class="text-center">
  
      <button id="Viewbtn" class="btn" type="button" routerLink="/allcollections"><span>View All Collections</span></button>
    </div>
  
  </div> -->

 


  <div id="allcollections" >
    <div class="card bg-dark text-white" *ngFor= "let x of TC">
      <img src="{{x.image}}" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title">{{x.title}}</h5>
        
      </div>
    </div>
    <!-- <div class="card bg-dark text-white" *ngFor= "let x of TC">
      <img src="{{x.image}}" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title">{{x.title}}</h5>
       
      </div>
    </div>
    <div class="card bg-dark text-white" *ngFor= "let x of TC">
      <img src="{{x.image}}" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title">{{x.title}}</h5>
        
      </div>
    </div> -->
  
  
  </div>
  
  
 
  
</div>



<div class="text-center">

  <div id="formsubmit" >
    <h3>Worked On an Ad Film?</h3>
    <button class="btn " routerLink="/submit"><span>Send it to us</span></button>
  </div>

</div>




