
h1{
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    color: #ddccb8;
    font-weight: 501;
    margin-bottom: 50px;
}
#formsubmit h3{
    color: #666666;
}
#formsubmit{
    margin-left: 10px;
    margin-bottom: 20px;
}
#formsubmit button{
    background-color:#ddccb8;
    color: #666666;
    font-weight: 501;
}
@media only screen and (max-width: 500px) {
    #heading{
        font-size: 38px;
    }
    #formsubmit h3{
        font-size: 18px;
    }
    #allcollections img{
        width: 250px !important;
        
    }
    #allcollections{
        margin: 20px !important;
    }
}

.card{
   
    margin: 10px auto;
    border-radius: 20px;
}
#allcollections{
    /* margin: 10px auto; */
    display: flex;
    flex-wrap: wrap;
    margin: 70px;
    
}
#allcollections img{
    height: 163px;
    width: 281px;
    border-radius: 20px;
    opacity: 0.5;
}
#allcollections h5{
    font-size: 27px;
    margin-top: 80px;
}
.card:hover{
    box-shadow: 0 3px 10px #283444;

}
