<footer>
    <div class="container">
        <div class="row">
            <div class="col" id="explore">
                <h3><strong>Explore IcrewedUP</strong></h3>
                <p><strong></strong></p>
                <p><a href="https://icrewedup.com/film-industry-jobs/">Jobs</a></p>
                <p><a href="https://onair.icrewedup.com/">onAir</a></p>
                <p><a href="https://icrewedup.com/benefits/">Benefits</a></p>
                <p><a href="https://icrewedup.com/faqs/">FAQs</a></p>

                <div>
                    <p id="looking">Looking for Crew? Post your requirement on IcrewedUP.</p>
                </div>
                <button type="button" class="btn "><a id="post" href="https://icrewedup.com/post-a-job/">Post a
                        requirement</a></button>

            </div>
            <div class="col" id="contact">
                <h3><strong>Get in Touch</strong></h3>
                <p><strong></strong></p>
                <p><a href="https://icrewedup.com/contact-us/">Contact Us</a></p>
                <p><a href="https://icrewedup.com/about-us/">About Us</a></p>
                <p><a href="https://icrewedup.com/privacy-policy/">Privacy Policy</a></p>
                <p><a href="https://icrewedup.com/tc/">Terms &amp; Conditions</a></p>
            </div>


            <div class="col-6" id="find">

                <h3 id="findheading">Find freelance filmmakers in your budget.</h3>
                
                <button id="findbtn1" type="button" class="btn">
                    <a class="et_pb_button et_pb_button_one et_pb_bg_layout_light dsm-none " href="https://icrewedup.com/post-a-job/" data-dsm-lightbox-id="dsm_button_one_lightbox dsm_button_0">Post a Requirement</a> 
                </button>
                <button  id="findbtn2" type="button" class="btn  findbtn">
                    <a class="et_pb_button et_pb_button_two et_pb_bg_layout_light dsm-none " href="https://app.icrewedup.com/search" data-dsm-lightbox-id="dsm_button_two_lightbox dsm_button_0">Search for freelancers</a> 
                </button>
            </div>
        </div>
    </div>
</footer>
<div id="copyright">
    <span>© IcrewedUp Technologies Pvt. Ltd. 2019</span>
</div>