h2{
    color: #283444;
    font-weight: 501;
    font-size: 35px;
    text-shadow: 0 0 6px white;
}
/* @media only screen and (min-width: 1390px) {
    .w-100{
     height: 610px;   
    }
  } */
  iframe{
      margin: 50PX;
  }
 #search{
     margin-top: 200px;
     text-align: center;
 }
 #covered{
     text-align: center;
 }