h2{
    color: #283444;
    font-weight: 801;
    
    font-size: 38px;
    
}

#carouselExampleCaptions img{
    height: 90vh;
    
}
.watch{
    margin-bottom: 15px;
    margin-top: 10px;
    background-color: #283444;
    color: rgba(221, 204, 184, 1);
}

.carousel-control-prev-icon{
    background-color: black !important;
    width: 42px !important;
    height: 45px !important;
}
.carousel-control-next-icon{
    background-color: black !important;
    width: 42px !important;
    height: 45px !important;
}
.carousel-caption{
    background-color: rgba(221, 204, 184, 0.5);
    /* border-radius: 20px; */
    margin:  0px 190px;
    
}


.watch span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  
  .watch span:after {
    content: '>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .watch:hover span {
    padding-right: 25px;
  }
  
  .watch:hover span:after {
    opacity: 1;
    right: 0;
  }

@media only screen and (max-width: 500px){
    #carouselExampleCaptions img{
        height: 210px;
    }

    .carousel-control-prev-icon{
        background-color: black !important;
        width: 30px !important;
        height: 35px !important;
    }
    .carousel-control-next-icon{
        background-color: black !important;
        width: 30px !important;
        height: 35px !important;
    }
}

