<p>crew works!</p>


<ul style="list-style: none;">
    <li>Executive Producer: Khalil Bachooali</li>
    <li>Director: Danielle Arden</li>
    <li>Producer: Madhuri Joshi</li>
    <li>Cinematographer: Tom L. Weir</li>
    <li>Designer: Charbel Naimeh, N Madhusudhan</li>
    <li>1st AD: Jad Saabi</li>
    <li>Director’s Assistant: Sanskriti Pandey</li>
    <li>2nd AD: Dima malaeb</li>
    <li>Assistant Producer: Aanchal Ahuja</li>
    <li>Line Production Company: VIP Films</li>
    <li>Producer: Martha Nassar</li>
    <li>Line Producer: Jana Barnard</li>
    <li>Production Assistant: George Yazigi, Finnix</li>
    <li>Costume Stylist: Nancy Storm, Leah D’cruz</li>
    <li>Hair: Lorna Butler</li>
    <li>Make up artist: Lorna Butler</li>
    <li>Camera Operator: Walid</li>
    <li>Focus Puller: Roger Schram</li>
    <li>Post-production producer: Vikrant Kapoor</li>
    <li>Offline Editor: Mark Hayek</li>
    <li>Online Editor: Arun Murudkar</li>
    <li>Senior Colorist: Andreas Delagado</li>
    <li>Music Director: Jamroom</li>
    <li>Sound Engineer: Adil Hossain</li>
    </ul>