@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
#logo{
 width: 100px;
}
nav{
    background-color: #283444;
    scroll-behavior: smooth;
}
/* @media only screen and (max-width: 500px){
    #submitimg{
        height: 150px;
    }
} */
html {
    scroll-behavior: smooth;
    
}
#searchbtn{
    background-color: #ddccb8;
}
