<div class="container" style="margin-top: 50px;margin-bottom: 30px;">
  <div class="row">
    <div class="col-lg-8 col-md-8" style="padding-left: 10px;">
      <div class="text-center">
        
        <iframe height="480" width="750" [src]="genuineVideoUrl"
         allowfullscreen>
        </iframe>
      </div>
      <h2 id="videotitle">
        {{video.title}}
      </h2>
      <h5 id="releasedon">Released on: {{video.date}}</h5>


      <!-- buttons for brand and all -->
      
      <button type="button" id="collectionbutton" class="btn"><span>Collection</span></button>
      <br>
      <button type="button" class="btn infobuttons"><span>Brand:</span></button>
      <button type="button" class="btn infobuttons"><span>Client:</span></button>
      <button type="button" class="btn infobuttons"><span>PH:</span></button>
      <button type="button" class="btn infobuttons"><span>Agency:</span></button>
    </div>





    <div class="col-lg-4 col-md-8">
      <h2 id="moreAdsHeading">
        Watch other Ads
      </h2>
      <div id="moreads">
       
        <div id="ads" class="card mb-3" style="max-width: 540px;" *ngFor="let x of now">
          <div class="row g-0">
            <div class="col-4">
              <img id="thumbnails" src="{{x.image}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-8">
              <div class="card-body">
                <h5 id="title" class="card-title">{{x.title}}</h5>
  
                <p id="date" class="card-text"><small class="text-muted">{{x.date}}</small></p>
              </div>
            </div>
          </div>
        </div>
  
      </div>
      
      <div id="famous">
        <h2>Some Famous Collections</h2>
        <div id="famouscollections" class="card mb-3" style="max-width: 540px;" *ngFor="let x of COLLECTIONS">
          <div class="row g-0">
            <div class="col-4">
              <img id="thumbnails" src="{{x.image}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-8">
              <div class="card-body">
                <h5 id="title" class="card-title">{{x.title}}</h5>
              </div>
            </div>
          </div>
        </div>
        
      </div>
        <div class="text-center">
          <button id="Viewbtn" class="btn" type="button" routerLink="/allcollections"><span>View All Collections</span></button>
        </div>

      
      
    </div>

 </div>
</div>



<!-- <div id="infobuttons">

  <button type="button" class="btn btn-light shadow p-3 mb-5 bg-white rounded" routerLink="./crew" routerLinkActive="active">Crew</button>
  <button type="button" class="btn btn-light shadow p-3 mb-5 bg-white rounded"
    [routerLink]="['./agency']" routerLinkActive="active">Agency</button>
  <button type="button" class="btn btn-light shadow p-3 mb-5 bg-white rounded"
    [routerLink]="['./client']" routerLinkActive="active">Client</button>

</div>

<router-outlet></router-outlet> -->



<div id="info" class="container">
  <div class="row row-cols-md-3 ">
    <div class="col ">
      <h4>Crew</h4>
      <ul style="list-style: none;">
        <li>Executive Producer: Khalil Bachooali</li>
        <li>Director: Danielle Arden</li>
        <li>Producer: Madhuri Joshi</li>
        <li>Cinematographer: Tom L. Weir</li>
        <li>Designer: Charbel Naimeh, N Madhusudhan</li>
        <li>1st AD: Jad Saabi</li>
        <li>Director’s Assistant: Sanskriti Pandey</li>
        <li>2nd AD: Dima malaeb</li>
        <li>Assistant Producer: Aanchal Ahuja</li>
        <li>Line Production Company: VIP Films</li>
        <li>Producer: Martha Nassar</li>
        <li>Line Producer: Jana Barnard</li>
        <li>Production Assistant: George Yazigi, Finnix</li>
        <li>Costume Stylist: Nancy Storm, Leah D’cruz</li>
        <li>Hair: Lorna Butler</li>
        <li>Make up artist: Lorna Butler</li>
        <li>Camera Operator: Walid</li>
        <li>Focus Puller: Roger Schram</li>
        <li>Post-production producer: Vikrant Kapoor</li>
        <li>Offline Editor: Mark Hayek</li>
        <li>Online Editor: Arun Murudkar</li>
        <li>Senior Colorist: Andreas Delagado</li>
        <li>Music Director: Jamroom</li>
        <li>Sound Engineer: Adil Hossain</li>
        </ul>
    </div>
    <div class="col-lg">
      <h4>Agency</h4>
      <ul style="list-style: none;" >
        <li>Global Brand Director: Jyoti Samajpati</li>
        <li>Chief Financial Officer: Aashish Kamath</li>
        <li>Finance: Rittesh Vora</li>
        <li>Finance: Aashita Kudva Mallya</li>
        <li>Accounts Assistant: Suchita Narkar</li>
        <li>Head of Operations: Rebecca Pereira</li>
        </ul>
    </div>
    <div class="col-lg">
      <h4>Client</h4>
      <ul style="list-style: none;">
        <li>Global Brand Manager: Samarth Bharadwaj</li>
        <li>Global Executive producer: Nazia Bihari</li>
        </ul>
    </div>
  </div>
</div>


<div class="text-center">

  <div id="formsubmit" >
    <h3>Worked On an Ad Film?</h3>
    <button class="btn " routerLink="/submit"><span>Send it to us</span></button>
  </div>

</div>

