#title{
   font-size: 16px;
  
}
#date{
    line-height: 2px
}
.card-body{
    padding: 10px;
    padding-top: 3px;
}
#thumbnails{
    width: 130px;
    height: 70px;
}
#moreAdsHeading{
    text-align: center;
    margin-bottom: 40px;
    color: #283444;
    font-size: 35px;
}
#infobuttons{
    margin-left: 20px;
}
#infobuttons button{
    margin: 5px;
    font-weight: 501;
}
.active{
   border-bottom: 7px solid black;
   border-bottom-style: groove;
}

@media only screen and (min-width: 1390px) {
    iframe{
        width: 850px;
    }
   }
   @media only screen and (max-width: 420px) {
     iframe{
         width: 340px;
         height: 250px;
        margin-bottom: 0px;
     }
     #moreAdsHeading{
        text-align: center;
        margin-bottom: 10px;
        margin-top: 30px;
        font-size: 25px;
        font-weight: 501;
    }
    #thumbnails{
        width: 100px;
        height: 60px;
    }
    #title{
        font-size: 15px;
       
     }
     #date{
         font-size: 15px;
     }
     #infobuttons{
        margin-top: 0px;
    }
    #releasedon{
        margin-bottom: 10px;
    }
   #info li{
      font-size: 15px;
      width: 315px !important;
   }
   #info ul{
       padding-left: 0px;
       padding-right: 0px;
   }
   #info h4{
       margin-top: 10px;
   }
   #formsubmit{
       padding-top: 20px;
   }

   
}



#formsubmit h3{
    color: #666666;
    
}
#formsubmit{
        margin-left: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
}
#formsubmit button{
        background-color:#ddccb8;
        color: #666666;
        font-weight: 501;

}
    
#info h4{
    text-align: center;
    background-color:#283444;
    padding: 10px;
    border-radius: 15px;
    color: #ddccb8;
    font-weight: 501;
    font-size: 20px;
   
}

#info li{
   
    margin: 10px;
    width: 350px;
    text-align: center;
    font-family: cursive;
}

#videotitle{
    margin-left: 20px;
    margin-top: 30px;
    color:#283444 ;
    font-weight: 501;
    text-shadow: 1px 1px #ddccb8;
}
#releasedon{
    margin-left: 20px;
}
.infobuttons{
    background-color: pink;
    margin-left: 20px;
    margin-top: 20px;
}
.infobuttons::after{
    content: "  >";
}
#collectionbutton{
    margin-left: 20px;
    margin-top: 20px;
    background-color: rgb(160, 133, 185);
}
#collectionbutton::after{
    content: "  >";
}
#info{
    margin-top: 50px;
}
#formsubmit{
    margin-left: 30px;
}
