#title{
   font-size: 16px;
  
}
#date{
    line-height: 2px
}
.card-body{
    padding: 10px;
    padding-top: 3px;
}
#thumbnails{
    width: 130px;
    height: 70px;
}
#moreAdsHeading{
    text-align: center;
    margin-bottom: 40px;
    color: #283444;
    font-size: 35px;
}
#infobuttons{
    margin-left: 20px;
}
#infobuttons button{
    margin: 5px;
    font-weight: 501;
}
.active{
   border-bottom: 7px solid black;
   border-bottom-style: groove;
}

@media only screen and (min-width: 1390px) {
    iframe{
        width: 850px;
    }
   }
   @media only screen and (max-width: 420px) {
     iframe{
         width: 340px;
         height: 250px;
        margin-bottom: 20px;
     }
     #moreAdsHeading{
        text-align: center;
        margin-bottom: 10px;
        font-size: 25px;
    }
    #thumbnails{
        width: 100px;
        height: 60px;
    }
    #title{
        font-size: 15px;
       
     }
     #date{
         font-size: 15px;
     }
     #infobuttons{
        margin-top: 0px;
    }
    }

    #formsubmit h3{
        color: #666666;
    
    }
    #formsubmit{
        margin-left: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    #formsubmit button{
        background-color:#ddccb8;
        color: #666666;
        font-weight: 501;
    }
    