#title{
   font-size: 16px;
  
}
#date{
    line-height: 2px
}
.card-body{
    padding: 10px;
    padding-top: 3px;
}
#thumbnails{
    width: 130px;
    height: 70px;
}
#moreAdsHeading{
    text-align: center;
    margin-bottom: 10px;
    color: #666666;
    font-size: 30px;
}
/* #moreads{
   
} */
#infobuttons{
    margin-left: 20px;
}

#infobuttons button{
    margin: 5px;
    font-weight: 501;
}
.active{
   border-bottom: 7px solid black;
   border-bottom-style: groove;
}

@media only screen and (min-width: 1390px) {
    iframe{
        width: 850px;
    }
   }
   @media only screen and (max-width: 420px) {
     iframe{
         width: 340px;
         height: 250px;
        margin-bottom: 0px;
     }
     
     #moreAdsHeading{
        text-align: center;
        margin-bottom: 10px;
        margin-top: 30px;
        font-size: 25px;
        font-weight: 501;
    }
    #thumbnails{
        width: 100px;
        height: 60px;
    }
    #title{
        font-size: 15px;
        
     }
     #date{
         font-size: 15px;
     }
     .infobuttons{
        margin-top: 10px !important;
        margin-left: 0px !important;
        margin-right: 15px !important;

    }
    #collectionbutton{
        margin-top: 10px !important;
        margin-left: 0px !important;

    }
    #releasedon{
        margin-bottom: 10px;
    }
   #info li{
      font-size: 15px;
      width: 315px !important;
   }
   #info ul{
       padding-left: 0px;
       padding-right: 0px;
   }
   #info h4{
       margin-top: 10px;
   }
   #formsubmit{
       padding: 25px !important;
       padding-bottom: 40px !important;
   }
   #formsubmit h3{
    font-size: 25px !important;
    }
    #formsubmit button{
        font-size: 16px !important;
    }
    #videotitle{
        margin-left: 0px !important;
        margin-top: 10px !important;
        color:#283444 ;
        font-weight: 501;
        font-size: 20px;
    }
    #releasedon{
        margin-left: 0px !important;
        font-size: 18px;
    }
   
}



#formsubmit h3{
    color: #666666;
    font-size: 38px;
}
#formsubmit{
    padding: 50px;
    padding-bottom: 70px;
    background-color: #ddccb8;
    margin-top: 30px;
}
#formsubmit button{
    background-color: #283444;
    color: #ddccb8;
    font-weight: 501;
    margin-top: 19px;
    width: 180px;
    font-size: 18px;
}
    
#info h4{
    text-align: center;
    background-color:#283444;
    padding: 10px;
    border-radius: 15px;
    color: #ddccb8;
    font-weight: 501;
    font-size: 20px;
   
}

#info li{
   
    margin: 10px;
    width: 350px;
    text-align: center;
}

#videotitle{
    margin-left: 20px;
    margin-top: 30px;
    color:#283444 ;
    font-weight: 501;
    /* text-shadow: 1px 1px #ddccb8; */
}
#releasedon{
    margin-left: 20px;
}
.infobuttons{
    margin-left: 20px;
    margin-top: 20px;
    background-color:  #ddccb8;
    /* border: 1px solid #283444  ; */
    color: #666666;
    font-weight: 501;
}
/* .infobuttons::after{
    content: "  >";
} */
#collectionbutton{
    margin-left: 20px;
    margin-top: 20px;
    background-color: #283444;
    /* border: 2px solid #ddccb8 ; */
    color: white;
}
/* #collectionbutton::after{
    content: "  >";
} */
#info{
    margin-top: 50px;
}

#moreads{
    overflow-x: scroll;
    height: 285px;
    padding: 10px; 
    scrollbar-color: #283444 #ddccb8 ;
    box-shadow: 0 3px 10px #283444;
}
#ads:hover{
    background-color: #d5dbe2;
}


.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  
  .btn span:after {
    content: '>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btn:hover span {
    padding-right: 25px;
  }
  
  .btn:hover span:after {
    opacity: 1;
    right: 0;
  }



  #formsubmit button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #formsubmit button span:after {
    content: '>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  #formsubmit button:hover{
    background-color: #ddccb8;
    color: #666666;
  }
  
  #formsubmit button:hover span {
    padding-right: 18px;
  }
  
  #formsubmit button:hover span:after {
    opacity: 1;
    right: 0;
  }



  /* CSS FOR SOME FAMOUS COLLECTIONS BELOW : */


  #famous{
    padding: 25px;
    padding-top: 4px;
    box-shadow: 0 5px 10px #ddccb8;
    background-color: #283444;
    /* height: 404px; */
    /* overflow-x: scroll;
    scrollbar-color: #ddccb8 #666666; */
    margin-top: 20px;
    border-radius: 5px;
    overflow-x: scroll;
    height: 285px;
}
#famous h2{
    font-size: 30px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

@media only screen and (max-width: 420px){
    #famous h2{
        font-size: 25px;
    }
    #Viewbtn{
        font-size: 16px !important;
        margin-bottom: 0px !important;
        margin-top: 30px !important;
    }
    
}



.card-body{
    padding: 10px;
    padding-top: 3px;
}
#thumbnails{
    width: 130px;
    height: 70px;
}

#famouscollections:hover{
    background-color: #ddccb8;
}
#famous h5{
    margin-top: 15px;
}

#Viewbtn{
    background-color: #ddccb8;
    margin: 20px;
    color: #666666;
    font-weight: 501;
    border-radius: 5px;
    width: 230px;
    font-size: 18px;
}



#Viewbtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #Viewbtn span:after {
    content: '>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  #Viewbtn:hover{
    background-color: rgb(245, 245, 245);
    color: #666666;
  }
  
  #Viewbtn:hover span {
    padding-right: 18px;
  }
  
  #Viewbtn:hover span:after {
    opacity: 1;
    right: 0;
  }
