<div id="subscribe">
  <div class="text-center">
    <h1>Subscribe To onAir Newsletter</h1>
  <p>Join our mailing list to receive the latest news and updates from our team.</p>
  <input type="text" placeholder="First Name">
  <br>
  <input type="text" placeholder="Last Name">
  <br>
  <input type="text" placeholder="Email" >
  <br>
  <button type="submit" class="btn">SUBSCRIBE!</button>
  
  </div>
  
</div>

<div id="international">
    <div class="container">
        <div class="row">
          <div class="col">
            <h2 id="heading">onAir International Pick</h2>
            <p id="info">Telenor The Best Is Yet to Come</p>
            <p id="release">Released on: June 15, 2020</p>
            <div class="text-center">

                <button type="button" class="btn btn-outline-dark"[routerLink]= "['/ads-with-crew','Telenor The Best Is Yet to Come']">Watch the Ad</button>
            </div>




          </div>
          <div class="col text-center">
            <img src="/assets/images/Telenor.png" alt="" id="telenor">
          </div>
          
        </div>
      </div>
</div>





<div class="text-center" id="submit">
  <h1 id="worked">Worked on an Ad Film?</h1>
  <p id="get">Get your Ad onAir</p>
  <button id="getad" routerLink ="/submit" class="btn">Send it to us</button>
</div>
