#telenor{
    height: 400px;
    width: 600px;
    margin-top: 85px;
    margin-bottom: 50px;
    border-radius: 20px;
}
#heading{
    margin-top: 130px;
    color: #666666;
    font-size: 43px;
    text-align: center;
}
#international{
    margin-top: 50px;
    background-color: #ddccb8;
    
}
#info{
    font-size: 25px;
    text-align: center;
    margin-top: 40px;
    color: #666666 !important;
    font-weight: 501;
}
#release{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    margin-bottom: 38px;
    color: #283444;
}
#ViewCbtn{
    background-color: #283444;
    margin: 20px;
    margin-top: 0px;
    color: #ddccb8;
    font-weight: 501;
    border-radius: 5px;
    width: 230px;
    font-size: 18px;
}



#ViewCbtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #ViewCbtn span:after {
    content: '>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  #ViewCbtn:hover{
    background-color: #ddccb8;
    color: #666666;
  }
  
  #ViewCbtn:hover span {
    padding-right: 18px;
  }
  
  #ViewCbtn:hover span:after {
    opacity: 1;
    right: 0;
  }

@media only screen and (max-width: 500px){
    #heading{
        font-size: 25px;
        margin-top: 20px;
    }
    #telenor{
        width: 300px;
        height: 200px;
        margin: 20px;
        margin-bottom: 30px;
        /* margin-left: 25px; */
    }
    #ViewCbtn{
        font-size: 16px !important;
        margin-top: 20px;
    }
}

#video{
    background-color: black;
    padding: 0px;
}
#videofooter{
    background-color: black;
}

@media only screen and (max-width: 420px) {
    iframe{
        width: 340px;
        height: 250px;
       
    }
    #subscribe{
        margin: 27px !important;
        
    }
    #subscribe h1{
        padding-top: 30px !important;
        font-size: 25px !important;
        margin-bottom: 10px !important;
    }
    #subscribe p{
        font-size: 16px !important;
        padding: 5px;
        margin-bottom: 20px !important;
    }
    #subscribe input{
        width: 277px !important;
        font-size: 14px;
    }
    #subscribe button{
        width: 277px !important;
        font-size: 16px;
    }

    #worked{
        font-size: 25px !important;
        padding-top: 30px !important;
    }
    #get{
        font-size: 20px !important;

    }
    #getad{
        font-size: 16px !important;
        width: 180px !important ;
        padding: 5px !important;
        margin-top: 13px !important;
        margin-bottom: 30px !important;
    }
    #info{
        font-size: 18px;
        margin-top: 20px;
    }
    #release{
        font-size: 16px;
        margin-bottom: 0px;
        margin-top: 10px;
    }
}

iframe{
    padding-top: 10px;
}
#worked{
    padding-top: 50px;
    font-size: 60px;
    color:  #283444;
}
#get{
    font-size: 40px;
    color: #666666;
}
#getad{
    background-color: #ddccb8;
    border-radius: 5px;
    width: 200px;
    margin-bottom: 50px;
    margin-top: 30px;
    color: #666666;
    font-weight: 501;
    font-size: 18px;
}
#getad:hover{
    background-color: #283444;
    color: #ddccb8;
}
/* #submit{
    background-color: black;
    border: 10px solid white;
} */


#subscribe{
    background-color: #283444;
    margin: 80px;
    border-radius: 20px;
}
#subscribe h1{
    padding-top: 50px;
    color: #ddccb8;
    font-size: 43px;
    border-radius: 10px;
}
#subscribe input{
    width: 400px;
    padding-top: 5px;
    margin: 5px;
}
#subscribe p{
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
}
#subscribe button{
    background-color: #ddccb8;
    width: 400px;
    color: #666666;
    font-weight: 501;
    margin-top: 20px;
    margin-bottom: 35px;
}



#subscribe button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #subscribe button span:after {
    content: '>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  #subscribe button:hover{
    background-color: #283444;
    color: #666666;
  }
  
  #subscribe button:hover span {
    padding-right: 18px;
  }
  
  #subscribe button:hover span:after {
    opacity: 1;
    right: 0;
  }





#getad span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #getad span:after {
    content: '>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  #getad:hover{
    background-color: rgb(245, 245, 245);
    color: #666666;
  }
  
  #getad:hover span {
    padding-right: 18px;
  }
  
  #getad:hover span:after {
    opacity: 1;
    right: 0;
  }