<div id="international">
    <div class="container">
        <div class="row">
          <div class="col">
            <h2 id="heading">onAir International Pick</h2>
            <p id="info">Telenor The Best Is Yet to Come</p>
            <p id="release">Released on: June 15, 2020</p>
            <div class="text-center">

                <button type="button" class="btn btn-outline-dark"[routerLink]= "['/ads-with-crew','Telenor The Best Is Yet to Come']">Watch the Ad</button>
            </div>




          </div>
          <div class="col text-center">
            <img src="/assets/images/Telenor.png" alt="" id="telenor">
          </div>
          
        </div>
      </div>
</div>

<img id="submitimg" style="width: 100%; " src="/assets/images/submit.webp" alt="" data-bs-toggle="modal" data-bs-target="#exampleModal" routerLink ="/submit">



