#telenor{
    height: 400px;
    width: 600px;
    margin-top: 85px;
    margin-bottom: 50px;
    border-radius: 20px;
}
#heading{
    margin-top: 142px;
    color: #283444;
    font-size: 43px;
    text-align: center;
}
#international{
    margin-top: 50px;
    background-color: #ddccb8;
    
}
#info{
    font-size: 25px;
    text-align: center;
    margin-top: 40px;
    color: #666666 !important;
    font-weight: 501;
}
#release{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    margin-bottom: 38px;
    color: #283444;
}
@media only screen and (max-width: 500px){
    #heading{
        font-size: 38px;
        margin-top: 20px;
    }
    #telenor{
        width: 300px;
        height: 200px;
        margin: 20px;
        /* margin-left: 25px; */
    }
}

#video{
    background-color: black;
    padding: 0px;
}
#videofooter{
    background-color: black;
}

@media only screen and (max-width: 420px) {
    iframe{
        width: 340px;
        height: 250px;
       
    }
    #subscribe{
        margin: 27px !important;
        
    }
    #subscribe h1{
        padding-top: 30px !important;
        font-size: 38px !important;
        margin-bottom: 10px !important;
    }
    #subscribe p{
        font-size: 18px !important;
        padding: 5px;
    }
    #subscribe input{
        width: 277px !important;
    }
    #subscribe button{
        width: 277px !important;
    }

    #worked{
        font-size: 43px !important;
    }
    #get{
        font-size: 30px !important;

    }
    #getad{
        width: 300px !important ;
    }
}

iframe{
    padding-top: 10px;
}
#worked{
    padding-top: 50px;
    font-size: 60px;
    color:  #283444;
}
#get{
    font-size: 40px;
    color: #666666;
}
#getad{
    background-color: #ddccb8;
    border-radius: 10px;
    width: 400px;
    margin-bottom: 50px;
    margin-top: 30px;
    color: #666666;
    font-weight: 501;
    font-size: 18px;
}
#getad:hover{
    background-color: #283444;
    color: #ddccb8;
}
/* #submit{
    background-color: black;
    border: 10px solid white;
} */


#subscribe{
    background-color: #283444;
    margin: 80px;
    border-radius: 20px;
}
#subscribe h1{
    padding-top: 50px;
    color: #ddccb8;
    font-size: 43px;
    border-radius: 10px;
}
#subscribe input{
    width: 400px;
    padding-top: 5px;
    margin: 5px;
}
#subscribe p{
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
}
#subscribe button{
    background-color: #ddccb8;
    width: 400px;
    color: #666666;
    font-weight: 501;
    margin-top: 20px;
    margin-bottom: 35px;
}